
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('temp background.png');
    background-size: cover;
    font-family: sans-serif;
}
h1{
    color:rgb(205, 92, 107);
    text-align:center;
    font-family: sans-serif;
    font-weight: lighter;
}
span{
    color:whitesmoke;
}
form{
    font-size:30;
    color:rgb(0, 0, 0);
    text-align: left;
    position: relative;
    top:90;
    left:50;
    
}
input{
    background-color:white;
    color:rgb(57, 16, 169);
    font-size: 20;
    
}
#op{
    width: 20%;
    height: 5%;
    font-size: 20px;
}
div{
     text-align: left;

}
#cone{
    background-color:rgb(152, 236, 149);
    position:relative;
    left:300;
    font-size:30;
    color:rgb(16, 14, 16);
    width:150px;
    border-radius: 8px;

}